@import "tailwindcss";

/* font families */

.font-script {
  font-family: "Rouge Script", cursive;
}

.font-tangerine {
  font-family: "Tangerine", cursive;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-baskerville {
  font-family: "Libre Baskerville", serif;
}

/* nav style */
nav
{
  font-family: "Manrope", sans-serif;
}
nav .menubar button
{
  position: relative;
}
nav .menubar button::after
{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: orangered;
  border-radius: 50px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
}
nav .menubar button:hover::after
{
  transform: scaleX(1);
  transition: transform 0.23s linear;
}

.tag 
{
  position: relative;
}
.tag::after
{
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: gray;
  right: -20px;
  pointer-events: none;
}
.tagBtn
{
  position: relative;
}
.tagBtn::after
{
  content: '';
  position: absolute;
  width: 1px;
  height: 22px;
  background-color: gray;
  left: -10px;
  pointer-events: none;
}
.dropBtn
{
  position: relative;
}
.dropBtn::before
{
  content: '';
  position: absolute;
  width: 1px;
  height: 25px;
  background-color: gray;
  right: -65px;
  pointer-events: none;
}

/* ---------*/

.saleSheet {
  width: 100%;
  max-width: 100%;
  height: 40px;
  background-color: #232423;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}
.morelinks
{
  position: relative;
}
.morelinks::after
{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.32s ease;
}
.morelinks .rightarrow
{
  transition: all 0.12s linear;
}
.morelinks:hover .rightarrow
{
  translate: 12px;
}
.morelinks:hover::after
{
  transform: scaleX(1);
  transform-origin: left;
}
.useFontHere
{
  font-family: "Libre Baskerville", serif;
}
/* quick view button */
.finder {
  transform: translatey(45px);
  transition: transform 0.2s ease-out;
}
.outerLayer:hover .finder
{
  transform: translateY(0px);
}
.homePointer a {
  position: relative;
}
.homePointer a::after
{
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: black;
  left: 0;
  bottom: 0;
  transition: transform 0.2s ease;
  transform: scaleX(0);
  transform-origin: right;
}
.homePointer a:hover::after
{
  transform: scaleX(1);
  transform-origin: left;
}


.animate-slider {
  animation: slider 20s linear infinite;
}
@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.animate-slider:hover {
  animation-play-state: paused;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 5.5s linear forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.7s ease;
}

.fantasybanner a img {
  width: 100%;
  height: 100%;
}
.fictionbanner a img {
  width: 100%;
  height: 100%;
}

/* for feedback */
.coursal {
  width: 80%;
  display: flex;
  overflow-x: scroll;
  margin: 0 auto;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-composite: destination-in;
    
    mask-image: linear-gradient(
      to right,
      transparent,
      black 20%,
      black 80%,
      transparent
      );
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      mask-composite: intersect;
    }
    .coursal::-webkit-scrollbar {
      display: none;
    }
    .coursal:hover .groupFed {
      animation-play-state: paused;
    }
    .groupFed {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      animation: moveSlider 45s infinite linear;
    }
    .card {
      flex: 0 0 48em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .card .rating {
      display: flex;
      gap: 10px;
    }
    .card h1 pre {
      text-align: center;
      font-size: 2.5em;
      font-weight: 800;
      letter-spacing: 2px;
      font-family: "Tangerine", cursive;
      font-style: normal;
      line-height: 1em;
    }
    .card .userdetails {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .card .userdetails .picture {
      background-color: rgb(204, 204, 204);
      color: rgb(100, 100, 100);
      border-radius: 50px;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
    }
    .card .userdetails .username
    {
      text-transform: uppercase;
    }
    @keyframes moveSlider {
      from {
        translate: 0;
      }
      to {
        translate: -100%;
      }
    }
/* footer style goes here */
footer
{
  width: 100%;
  background-color: rgb(48, 51, 63);
}
footer .topfooter
{
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  gap: 10px;
}
footer .mainfooter
{
  padding:30px 0;
}
footer .topfooter .endlinks{
  padding: 10px;
}
footer .topfooter .endlinks div
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .topfooter .endlinks h1
{
  font-size: large;
  font-family: "Libre Baskerville", serif;
  color: rgb(235, 235, 235);
  margin-bottom: 15px;
}
footer .topfooter .endlinks div a
{
  max-width: 180px;
  color: rgb(177, 177, 177);
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}
footer .secondary
{
  border-top: 1px solid rgba(255, 255, 255, 0.192);
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
}
footer .logoStyle
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
footer .logoStyle p
{
  color: white;
}
footer .popularlinks
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
footer .popularlinks .externallink
{
  display: flex;
  gap: 15px;
}